<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Simple Blog App</title>
  </head>
  <body>
    <h1>The Coding Bull - Simple Blog App</h1>
    <form action="/post" method="POST">
      <h3>Title</h3>
      <input type="text" name="title">
      <br>
      <h3>Description</h3>
      <textarea type="text" name="description"></textarea>
      <br>
      <input type="submit" value="Create Blog">
    </form>
    <br>
    <a href="/posts">See My Posts</a>
  </body>
</html>